
.login-form{
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    margin-left: 700px;
    /* display: center; */
}

.label-input{
    padding: 5px;
    width: 500px;
    margin-bottom: 30px;
    font-size: 19px;
    border-radius: 18px;
    border: 1px solid gray;
    background-color: transparent blue !important;

}

button{
    padding: 10px;
    border-radius: 18px 20px;
    border: 1px solid gray;
    font-size: 16px;
    font-weight: bold;

}
.label-name{
    font-size: 20px;
    margin-bottom: 10px;
}